@charset "UTF-8";

:root {
    --c-primary: deeppink;
    --c-black: #000;
    --c-black1: #111;
    --c-black3: #333;
    --c-white: #fff;
    --c-whitee: #eee;
    --c-whited: #ddd;
    --c-whitec: #ccc;
    --c-whitea: #aaa;
    --c-white5: #555;
}

body {
    font-family: 'Alata', sans-serif;
    font-weight: 500;
}

figure {
    img {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
    background-color: deeppink;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba($color: #fff, $alpha: 0.6);
}

.container {
    width: 1240px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.nav {
    position: fixed;
    z-index: 2000;
    width: 100%;
    left: 0;
    top: 0;

    .nav-logo {
        color: var(--c-primary);
    }

    &.animated {
        background-color: var(--c-black3);
    }

    >.container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    @media only screen and (min-width: 1025px) {
        height: 80px;

        .nav-logo {
            font-size: 4rem;
        }

        .navbar {
            margin-left: auto;
        }

        .nav-menu {
            display: flex;

            >.nav-item {
                position: relative;
                margin: 0 6px;

                &::before {
                    content: '';
                    width: 100%;
                    height: 20px;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                }

                &:hover {
                    &::before {
                        bottom: -20px;
                    }

                    >.sub-menu {
                        opacity: 1;
                        visibility: visible;
                        transform: translate(-50%, 0);
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        height: 60px;

        .nav-logo {
            font-size: 2rem;
        }

        .navbar {
            position: fixed;
            top: 60px;
            right: 0;
            width: 320px;
            height: calc(100% - 60px);
            border-left: 2px solid var(--c-white5);
            background-color: var(--c-black3);
            transform: translateX(100%);
            transition: all 0.3s ease;

            &.open {
                transform: translateX(0);
            }
        }

        .nav-menu {
            display: block;
            padding: 20px;

            >.nav-item {
                margin: 10px 0;
            }
        }
    }
}

.nav-link {
    display: block;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--c-whitea);

    @media only screen and (min-width: 1025px) {
        font-size: 2rem;
        padding: 4px 8px;

        &:hover {
            color: var(--c-whitee);
        }
    }

    @media only screen and (max-width: 1024px) {
        font-size: 1.6rem;
        padding: 4px 0px;
    }
}

.sub-menu {

    @media only screen and (min-width: 1025px) {
        width: 250px;
        position: absolute;
        top: 40px;
        left: 50%;
        opacity: 0;
        visibility: hidden;
        border: 2px solid var(--c-whitee);
        border-radius: 4px;
        background-color: var(--c-black3);
        transform: translate(-50%, 10px);
        transition: all .1s linear;

        &::after {
            content: "";
            border: 8px solid transparent;
            border-bottom-color: var(--c-whitee);
            position: absolute;
            top: -16px;
            left: 50%;
            transform: translate(-50%, 0);
        }

        .nav-link {
            font-size: 1.6rem;
            padding: 8px;

            &:hover {
                background-color: var(--c-whitea);
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        width: 100%;
        display: none;
        padding-left: 15px;
        border-left: 2px solid var(--c-white5);

        >.nav-item {
            margin: 10px 0;
        }

        .nav-link {
            font-size: 1.4rem;
        }
    }

}

.nav-toggle {
    display: none;

    @media only screen and (max-width: 1024px) {
        display: block;
        width: 35px;
        height: 35px;
        margin-left: auto;
        position: relative;
        border: 1px solid var(--c-whitec);
        border-radius: 4px;
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 2px;
            background-color: var(--c-whitec);
            transition: all 0.2s linear;

            &:nth-child(1) {
                transform: translate(-50%, -50%) translateY(-4px);
            }

            &:nth-child(2) {
                transform: translate(-50%, -50%) translateY(3px);
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }
    }
}