@charset 'UTF-8';
$c_gray:#aaaaaa;
$c_green: #28a745;
$c_red: #dc3545;
$c_yellow: #ffc107;
$c_blue: #0fbfff;
$c_dark: #333333;
$c_white: #ffffff;
$c_pink: deeppink;

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

%box {
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: $c_blue;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    @media only screen and (max-width: 768px) {
        width: 100px;
        height: 100px;
    }
}

%text {
    font-size: 40px;
    line-height: 1.6;
    color: $c_blue;

    @media only screen and (max-width: 768px) {
        font-size: 24px;
    }
}

%text-center {
    text-align: center;
}

%text-right {
    text-align: right;
}

%radius {
    border-radius: 6px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap
}

.box {
    @extend %box;
}

.text {
    @extend %text;
}

.text-center {
    @extend %text-center;
}

.text-right {
    @extend %text-right;
}