@charset 'UTF-8';


*,
::after,
::before {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.15;
    font-family: 'Courier New', Courier, monospace;
}


@import './_par/var';

#root {
    width: 120vw;
    height: 120vh;
    transition: all 0.3s ease;
    border: 1px solid green;
    position: relative;
}

figure {


    img {
        width: 100%;
        display: block;
        transform: translate(-50%, -50%);
    }
}

.js-hover-img {
    max-width: 400px;
    transform: scale(0.3);
    position: absolute;
    top: 300px;
    left: 400px;
}