@charset "UTF-8";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: overlay;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
}

body {
    background-color: #fff;
    word-wrap: break-word;
    font-size: 1.6rem;
    line-height: 1.15;
}

button,
a {
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
}

a {
    display: inline-block;
    font-size: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input,
select,
img {
    vertical-align: middle;
}



ul,
ol {
    list-style: none;
}

br {
    letter-spacing: 0;
}

p {
    line-height: 1.6;
}