*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  font-family: "Courier New", Courier, monospace;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 20px 10px 10px;
  background-color: #333;
  overflow: hidden;
}

.noti, .screen > .paper__item, .game-play, .game-mode .mode {
  width: 100%;
  max-width: 120px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#root {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 60px 6px 6px;
  position: relative;
}
#root::after {
  content: "Flip Image Game";
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 4px 16px;
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 50px;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 1024px) {
  #root {
    padding: 10px;
  }
}

.point {
  color: #fff;
}
.point .your-point {
  display: inline-block;
  font-size: 24px;
  transform: scale(1);
  transition: all 0.3s ease;
  position: relative;
}
.point .your-point::after {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
.point .your-point.add-point {
  transform: scale(1.35);
}
.point .your-point.add-point::after {
  content: attr(data-content);
  animation: kf_youtpoint_after 0.3s ease 0s 1 both;
}
@keyframes kf_youtpoint_after {
  0% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}
.game-mode .mode.easy.active, .game-mode .mode.easy:hover {
  color: #333;
  border-color: #fff;
  background-color: #fff;
}
.game-mode .mode.medium.active, .game-mode .mode.medium:hover {
  border-color: #28a745;
  background-color: #28a745;
}
.game-mode .mode.hard.active, .game-mode .mode.hard:hover {
  border-color: #0fbfff;
  background-color: #0fbfff;
}
.game-mode .mode.super-hard.active, .game-mode .mode.super-hard:hover {
  border-color: #ffc107;
  background-color: #ffc107;
}
.game-mode .mode.hell.active, .game-mode .mode.hell:hover {
  border-color: #dc3545;
  background-color: #dc3545;
}
@media only screen and (min-width: 1024px) {
  .game-mode .mode {
    cursor: pointer;
  }
}

.game-mode {
  width: 100%;
  margin-top: 20px;
}
.game-mode .game-mode-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.game-mode .game-mode-container::before {
  content: "Game Mode:";
  color: #fff;
  margin-right: 10px;
}
.game-mode .mode {
  max-width: calc(16% - 8px);
  letter-spacing: 1px;
  margin: 0 4px;
}
.game-mode .mode.active {
  user-select: none;
  pointer-events: none;
}
@media only screen and (min-width: 1024px) {
  .game-mode {
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

.game-play {
  max-width: 100%;
  height: 60px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.game-play:hover {
  border-color: deeppink;
  background-color: deeppink;
}

.crit-click {
  margin-top: 20px;
  color: #fff;
}
.crit-click .crit-bonus {
  font-size: 20px;
}
.crit-click .crit-bonus::before {
  content: "x";
}
@media only screen and (min-width: 1024px) {
  .crit-click {
    text-align: center;
  }
}

.align-center {
  text-align: center;
  margin-top: 20px;
}

.screen {
  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  border: 2px solid #fff;
  border-radius: 4px;
}
.screen > .paper__item {
  width: 56px;
  height: 56px;
  font-size: 34px;
  margin: 2px;
  cursor: pointer;
}
.screen > .paper__item:hover {
  opacity: 0.4;
}
.screen > .paper__item:hover, .screen > .paper__item.active {
  background-color: #fff;
}
.screen > .paper__item.active, .screen > .paper__item.is-open {
  user-select: none;
  pointer-events: none;
}
.screen.medium {
  border-color: #28a745;
}
.screen.medium > .paper__item {
  border-color: #28a745;
}
.screen.medium > .paper__item:hover, .screen.medium > .paper__item.active {
  background-color: #28a745;
}
.screen.hard {
  border-color: #0fbfff;
}
.screen.hard > .paper__item {
  border-color: #0fbfff;
}
.screen.hard > .paper__item:hover, .screen.hard > .paper__item.active {
  background-color: #0fbfff;
}
.screen.super-hard {
  border-color: #ffc107;
}
.screen.super-hard > .paper__item {
  border-color: #ffc107;
}
.screen.super-hard > .paper__item:hover, .screen.super-hard > .paper__item.active {
  background-color: #ffc107;
}
.screen.hell {
  border-color: #dc3545;
}
.screen.hell > .paper__item {
  border-color: #dc3545;
}
.screen.hell > .paper__item:hover, .screen.hell > .paper__item.active {
  background-color: #dc3545;
}
@media only screen and (min-width: 1200px) {
  .screen {
    max-width: 1024px;
  }
  .screen > .paper__item {
    margin: 6px;
  }
}

.noti {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  z-index: 999;
  height: 30px;
  border: 0;
  animation: kf_noti_out 1s ease 0s 1 both;
}
.noti.error {
  background-color: #dc3545;
}
.noti.error::before {
  content: "Cant Open";
}
.noti.open {
  background-color: #0fbfff;
}
.noti.open::before {
  content: "Good";
}
.noti.win {
  background-color: #28a745;
}
.noti.win::before {
  content: "Win game";
}

@keyframes kf_noti_out {
  to {
    top: 0;
    opacity: 0;
  }
}
.guide-toggler {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
  margin-left: auto;
}

.guide {
  position: fixed;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s ease, opacity 0.2s linear;
}
.guide.open {
  visibility: visible;
  opacity: 1;
}
.guide .guide-container {
  color: #fff;
  width: 375px;
  max-width: 100%;
  padding: 20px 10px;
  margin-left: auto;
  font-size: 14px;
  margin-top: 50px;
}
.guide .guide-mode {
  list-style: none;
}
.guide .guide-mode .mode-name {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
}
.guide .guide-mode .mode-desc {
  margin-top: 8px;
}
.guide .guide-mode__medium .mode-name {
  color: #28a745;
}
.guide .guide-mode__hard .mode-name {
  color: #0fbfff;
}
.guide .guide-mode__super .mode-name {
  color: #ffc107;
}
.guide .guide-mode__hell .mode-name {
  color: #dc3545;
}
@media only screen and (min-width: 1024px) {
  .guide .guide-toggler {
    cursor: pointer;
  }
  .guide .guide-container {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styled.css.map */
