@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.15;
  font-family: "Courier New", Courier, monospace;
}

body {
  padding: 20px;
  padding-top: 60px;
  width: 100%;
  font-size: 16px;
}

.coin, .button, .block, .set-coin, .let-set-coin, .add-coin, .total-coin, .noti, .timer {
  color: #fff;
  background-color: #00bfff;
  border-radius: 6px;
  padding: 4px 10px;
  display: inline-block;
  line-height: 1;
}

.timer {
  width: 50px;
  height: 50px;
  position: fixed;
  font-weight: 700;
  font-size: 30px;
  z-index: 1000;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-50%);
}
@media only screen and (max-width: 640px) {
  .timer {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 99px;
    border: 1px solid #00bfff;
  }
}

.boardcard {
  width: 100%;
  max-width: calc(50% - 15px);
}
.boardcard .comp-card,
.boardcard .card {
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #d6d6d6;
}
.boardcard .comp-card::before,
.boardcard .card::before {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 0;
  font-size: 5vw;
  opacity: 0.15;
}
.boardcard .comp-card::after,
.boardcard .card::after {
  width: 100%;
  max-width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
  font-size: 16px;
  line-height: 0.875;
  bottom: 0;
  right: 0;
  transform: scale(0, 1);
  transition: all 0.5s ease;
}
.boardcard .comp-card.lose,
.boardcard .card.lose {
  border-color: #dc3545;
}
.boardcard .comp-card.lose::after,
.boardcard .card.lose::after {
  content: "Lose";
  transform: scale(1, 1);
  background-color: #dc3545;
}
.boardcard .comp-card.win,
.boardcard .card.win {
  border-color: #00bfff;
}
.boardcard .comp-card.win::after,
.boardcard .card.win::after {
  content: "Win";
  transform: scale(1, 1);
  background-color: #00bfff;
}
.boardcard .comp-card.eqa,
.boardcard .card.eqa {
  border-color: #ffc107;
}
.boardcard .comp-card.eqa::after,
.boardcard .card.eqa::after {
  content: "Equal";
  transform: scale(1, 1);
  background-color: #ffc107;
}
.boardcard .comp-card > .card__item,
.boardcard .card > .card__item {
  width: 120px;
  height: 200px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #333;
  margin: 0 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
  animation: kf_card_up 0.5s ease 0s 1 both;
}
.boardcard .comp-card > .card__item::before,
.boardcard .card > .card__item::before {
  content: attr(data-content);
  color: inherit;
  font-size: 6vw;
  line-height: 1;
}
.boardcard .comp-card > .card__item::after,
.boardcard .card > .card__item::after {
  position: absolute;
  top: 0;
  right: 6px;
  color: inherit;
  font-size: 3vw;
}
.boardcard .comp-card > .card__item.hearts,
.boardcard .card > .card__item.hearts {
  color: red;
  border-color: #dc3545;
}
.boardcard .comp-card > .card__item.hearts::after,
.boardcard .card > .card__item.hearts::after {
  content: "♥";
}
.boardcard .comp-card > .card__item.diamonds,
.boardcard .card > .card__item.diamonds {
  color: red;
  border-color: #dc3545;
}
.boardcard .comp-card > .card__item.diamonds::after,
.boardcard .card > .card__item.diamonds::after {
  content: "♦";
}
.boardcard .comp-card > .card__item.clubs,
.boardcard .card > .card__item.clubs {
  color: #333;
}
.boardcard .comp-card > .card__item.clubs::after,
.boardcard .card > .card__item.clubs::after {
  content: "♣";
}
.boardcard .comp-card > .card__item.spades,
.boardcard .card > .card__item.spades {
  color: #333;
}
.boardcard .comp-card > .card__item.spades::after,
.boardcard .card > .card__item.spades::after {
  content: "♠";
}
.boardcard .comp-card::before {
  content: "COMPUTER";
}
.boardcard .card::before {
  content: "PLAYER";
}
@media only screen and (max-width: 640px) {
  .boardcard .comp-card,
.boardcard .card {
    border-bottom-width: 1px;
  }
  .boardcard .comp-card::before,
.boardcard .card::before {
    font-size: 18px;
  }
  .boardcard .comp-card > .card__item,
.boardcard .card > .card__item {
    border-width: 1px;
    margin: 0 2px;
  }
  .boardcard .comp-card > .card__item::before,
.boardcard .card > .card__item::before {
    font-size: 30px;
  }
}

@keyframes kf_card_up {
  to {
    transform: translateY(0%);
  }
}
.noti {
  position: fixed;
  left: 50%;
  top: 0;
  background-color: #dc3545;
  transform: translate(-50%, 0);
  animation: kf_noti 1s ease 0s 1 both;
}
.noti.not-enought::before {
  content: "không đủ tiền";
}
.noti.not-time::before {
  content: "hết thời gian cược";
}
.noti.not-add::before {
  content: "hết được nạp rồi";
}
.noti.cant::before {
  content: "Không thể hành động";
}

@keyframes kf_noti {
  0%, 20% {
    top: 25vh;
  }
  40% {
    opacity: 1;
  }
  100% {
    top: -20px;
    opacity: 0;
  }
}
.total-coin {
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  font-weight: 600;
}
.total-coin::before, .total-coin::after {
  font-size: 16px;
}
.total-coin::before {
  content: "tổng tiền: ";
}
.total-coin::after {
  content: "$";
}

.add-coin {
  position: fixed;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
}
.add-coin::before {
  content: "Nạp";
  margin-right: 6px;
}

.let-set-coin {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 180px;
  text-align: center;
  font-weight: 700;
}
.let-set-coin::before {
  content: "hãy đặt tiền";
}
.let-set-coin.none {
  color: #fff;
  background-color: #dc3545;
}
.let-set-coin.none::before {
  content: "không được đặt";
}

.set-coin {
  font-size: 40px;
  font-weight: 600;
  margin-top: 20px;
}
.set-coin::before, .set-coin::after {
  font-size: 14px;
}
.set-coin::before {
  content: "tiền cược: ";
}
.set-coin::after {
  content: "$";
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.flex .button {
  width: calc(50% - 10px);
}

.block {
  width: 100%;
  height: 50px;
  max-width: calc(50% - 10px);
  line-height: 50px;
  background-color: #aaa;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
}
.block::before {
  font-size: 30px;
  font-weight: 600;
}
.block.block-comp::before {
  content: "COMPUTER";
}
.block.block-con::before {
  content: "PLAYER";
}
.block.active {
  background-color: #00bfff;
}

.button {
  width: 100%;
  height: 40px;
  max-width: 100%;
  margin-top: 20px;
  font-size: 18px;
  background-color: #aaa;
  cursor: pointer;
  outline: 0;
  transition: all 0.3s ease;
}
.button:hover, .button.active {
  background-color: #00bfff;
}

.coin {
  width: calc((100% / 6) - 8px);
  height: 40px;
  background-color: #aaa;
  line-height: 40px;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}
.coin::after {
  color: inherit;
}
.coin.coin--10::after {
  content: "10$";
}
.coin.coin--50::after {
  content: "50$";
}
.coin.coin--100::after {
  content: "100$";
}
.coin.coin--1000::after {
  content: "1000$";
}
.coin.coin--5000::after {
  content: "5000$";
}
.coin.allin::after {
  content: "All-in";
}
.coin:hover {
  background-color: #00bfff;
}
@media only screen and (max-width: 640px) {
  .coin {
    width: calc(33% - 10px);
    margin-top: 20px;
  }
}

.board-check {
  display: flex;
  flex-wrap: wrap;
}
.board-check span {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin: 4px;
}
.board-check span.win {
  background-color: #28a745;
}
.board-check span.lose {
  background-color: #dc3545;
}
.board-check span.equal {
  background-color: #ffc107;
}

/*# sourceMappingURL=styled.css.map */
